
    <div class="page-header">
        <div class="container">
            <h1 class="display-4 fw-bold mb-3"><%= path.toString().slice(1,)%> </h1>
            <p class="lead mb-0">Learn more about our story, mission, and the team behind your favorite online store</p>
        </div>
    </div>
